* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

.cover-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
  background: linear-gradient(rgba(207, 181, 113, 0.884), rgba(95, 183, 206, 0.93));
  padding-top: 3%;
}

h1 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: #fff;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 800px;
}

input {
  flex: 1;
  padding: 0.75rem;
  border-radius: 5px 0 0 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

button {
  padding: 0.75rem;
  border-radius: 0 5px 5px 0;
  border: none;
  background-color: #5c6bc0;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  flex-shrink: 0;
}

button:hover {
  background-color: #3949ab;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 3rem;
  }

  .temp-container {
    flex-direction: row;
    
  }

  .temp-main-container,
  .weekly-container {
    margin-bottom: 0;
    /* height: 666px; */
    height: 100vh;
  }
  /* .temp-main-container{
    width: 80%;
  } */
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 1.75rem;
  }

  .temp-main-container, .weekly-container {
    width: 90%;
  }

  input, button {
    font-size: 0.875rem;
    padding: 0.5rem;
  }

  .temp-detail {
    /* flex-direction: column; */
    align-items: flex-start;
  }

  .detail {
    font-size: 1.5rem;
  }

  .grid-container {
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }

  #grid-detail {
    font-size: 1.25rem;
  }

  .weekly-container {
    margin-top: 2rem;
  }

  .forecast-grid {
    padding: 0.5rem;
    height: auto;
  }

  #temp-font {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }

  .temp-main-container, .weekly-container {
    width: 90%;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }

  .forecast-grid {
    flex-direction: column;
    text-align: center;
  }

  #temp-font {
    font-size: 1rem;
  }
}
