/* Center the loading component */
.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(207, 181, 113, 0.884), rgba(95, 183, 206, 0.93));

    color: white;
    font-family: 'Arial', sans-serif;
  }
   
  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-top: 5px solid white;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
  }
   
  .loading-container p {
    font-size: 1.2rem;
    margin-top: 20px;
  }
   
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  